################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenCTR_B20V11_R10_V2.00/FileContentIndex/d2f4ad96-c6c7-4be4-b1bf-dbcd8612dd58.vsidx
/.vs/OpenCTR_B20V11_R10_V2.00/v17/Browse.VC.db
/.vs/OpenCTR_B20V11_R10_V2.00/FileContentIndex/ff5d7e96-d43e-4c99-9583-ff4893447e28.vsidx
/.vs/OpenCTR_B20V11_R10_V2.00/FileContentIndex/ea939bdd-4d63-4cce-8cbe-49c98831dd98.vsidx
/.vs/OpenCTR_B20V11_R10_V2.00/v17/Browse.VC.opendb
